__pycache__/
/clients/__pycache__/
/parsers/__pycache__/
/etl/__pycache__/
/utils/__pycache__/
spark_jars/
clickhouse/
data_lake/
minio_storage/temp/
minio_storage/processed-data/
minio_storage/.minio.sys/
pgdata/
config/
logs/
plugins/
postgres-db-volume/